*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

    .head{
    display: flex;
    padding-top: 20px;
    margin-left: 100px;

}

.nav{
    display: flex;
    gap: 10px;
    display: inline-flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 35px;
}
.nav img{
    width: 35px;
    height: 35px;
}

.mid ul{
    gap: 40px;
    ;
}
 ul{
    display: flex;

}
ul li{
    list-style: none;

}

a{
    text-decoration: none;
}

.mid a:hover{
    color:#F53855;
}
/* # mid Hover section start */
 /* ul .box a{
    display: block;
    transition: 0.5s;
    position: relative;
}

ul .box:hover a {
    filter: blur(5px);
    opacity: .2;
}

ul .box:hover a:hover{
    filter: blur(0px);
opacity: 1;
} */
/* # hover end  */
.icon-menu{
    height: 42px;
    width: 42px;
    display: flex;
    align-items: flex-end;
     position: absolute;
     right: 10px;
     top: 10px;
}

.sidebar
{
    display: none;
   
}
.sidebar {
    margin-left: 500px;

}

@media(min-width:1024px)
{
    .icon-menu{
        display: none;
    }
    .sidebar{
        display: initial;
    }
    

}


@media(min-width:640px){

    .anchor{
        display: flex;
        flex-direction: column-reverse;
        background-color: #F53855;
    }
}
@media(min-width:640px){

.last{
    display: flex;
    gap: 40px;
}
}


.up{
    border: 1px solid #F53855;
    border-radius: 1rem;
    padding: 5px;
    /* margin-left: 45px; */
}

.up a{
    margin: 13px 45px 13px 45px;
    color: #F53855;
}



.in{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.last ul{
    gap: 13px;
}



/* first end ===================== */

/* start new block================= */
.anchor
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 1px solid; */
    margin-top: 50px;
    
margin: 50px 20px 10px 50px;

}




.anchor .big{

    font-family: Rubik;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 50px;

}

.anchor .small{
/* padding: 60px; */
margin-left: 50px;
    font-family: Rubik;
font-size: 16px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #4F5665;
margin-top: 10px;
}

.anchor .btn{
 background-color:#F53855;
 border-radius: 10px;
 border: none;
 margin: 20px 35px 25px 30px;
 padding: 15px 50px 15px 50px;
margin-left:45px;
margin-top:20px;
color:white;

}

.anchor .btn{
    box-shadow: #F53855 0px 25px 20px -20px;
    
}

.anchor .btn:hover{
    background-color: transparent;
    color: #F53855;
}

/* .first{
    border: 1px solid;
    
}

.second{
    border: 1px solid;
}   */
/* second block start-------------------------------  */

.next-long{
    /* gap: 5rem; */
    border: 1px solid;
    height: 200px;
    /* width: 1140px; */
    margin: 50px;
    /* display: grid; */
    /* grid-template-columns: 600px 365px 80px; */
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    border: none;
    border-radius: 10px;
background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}


.box-one {
    display: flex;
    padding-top: 80px;

}

.box-one .f {
    display: flex;
    margin-left: 90px;

}

.box-one .f img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 70px;
background: #FFECEC;


}

.box-one .s img{
  height: 90px;
  margin-left: 130px;
  
  
}

.box-one .f p{
    color: #4F5665;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}

.box-one .f b{
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 120% */ 
}

/* two */

.box-two {
    display: flex;
    padding-top: 80px;
}

.box-two .f {
    display: flex;
    margin-left: 5px;
    
}

.box-two .f img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 70px;
background: #FFECEC;

    
}

.box-two .s img{
  height: 90px;
  margin-left: 130px;
  
}

.box-two .f p{
    color: #4F5665;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
.box-two .f b{
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 120% */ 
}
 

/* Three */

.box-three {
    display: flex;
    margin-right:150px;
    padding-top: 80px;
}

.box-three .f {
    display: flex;
    margin-left: 5px;
    
}

.box-three .f img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    border-radius: 70px;
background: #FFECEC;
    
}

.box-three .f p{
    color: #4F5665;
font-family: Rubik;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}

.box-three .f b{
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 120% */ 
}

/* second block end------------------------------------------------ */


/* third block start----------------------------------- */


.features{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    height: 600px;
    background-color: transparent;
}





.block-s{
/* border: 1px solid; */
width: 60%;
}

.block-s .f{
    color: #0B132A;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px; /* 142.857% */
margin-top: 10px;
}

.block-s .s{
    color: #4F5665;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
margin-top: 10px;
}

.block-s .l{
    color: #4F5665;
font-family: Rubik;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 214.286% */
padding-top: 10px;
}

.block-s .l img{
    height: 20px;
    width: 20px;
    margin-right: 11px;
    padding-top: 2px;
}
.block-s .l {
    font-size: 14px;
    text-align: inherit;
    display: inline-block;
    
}

/* only text----------------- */
.none{
    text-align: center;
    margin-top: 81px;
    
}
.none .t1{
    color: #0B132A;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 142.857% */
}
.none .t2{
    color: #4F5665;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}